<!DOCTYPE html>
<html>
  <head>
    <title>Tripcast</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Tripcast" />
    <meta name="description" content="Complete weather forecast of your upcoming road trip" />
    <meta name="keywords" content="weather forecast directions map tripcast road conditions" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <link href="https://fonts.googleapis.com/css?family=Gudea|Hammersmith+One|Nunito+Sans" rel="stylesheet" />
  <body>
    <div class="navbar">
      <div class="title"><a href="<%= root_path %>" data-turbolinks="false"><img class="logo" src="<%= image_path('clear-day0.svg') %>" /> tripcast</a></div>
      <% if current_user.nil? %>
        <div class="navbar-left">
          <img src="<%= asset_path('darksky.png') %>"/>
        </div>
        <nav class="responsive-nav" id="js-responsive-nav">
          <ul class="responsive-nav__list">
              <li class="responsive-nav__item">
                  <%= link_to 'Sign In', new_session_path, class: "responsive-nav__link" %>
              </li>
              <li class="responsive-nav__item">
                  <%= link_to 'Sign Up', new_user_path, class: "responsive-nav__link" %>
              </li>
          </ul>
        </nav>
      <% else %>
      <div class="navbar-left">
        <img src="<%= asset_path('darksky.png') %>"/>
      </div>
      <nav class="responsive-nav" id="js-responsive-nav">
        <ul class="responsive-nav__list">
            <li class="responsive-nav__item">
                <%= link_to "Hey #{current_user.first_name}!", user_path(current_user), class: "responsive-nav__link" %>
            </li>
            <li class="responsive-nav__item">
                <%= link_to 'Sign Out', sessions_path, method: :delete, class: "responsive-nav__link" %>
            </li>
        </ul>
        </nav>
      <% end %>
    </div>
  </div>
    <script type="text/javascript">
      var responsiveNav = document.getElementById('js-responsive-nav');
      var responsiveNavBreakpoint = 720;

      responsiveNav.addEventListener('click', function(){
        if(window.innerWidth < responsiveNavBreakpoint){
            responsiveNav.classList.toggle("is-open");
        }
      });
    </script>
    <%= yield %>
  </body>
</html>
